### **re.search()**
bakal nyari kemunculan sebuah kata dari sebuah string

In [2]:
# search untuk mencari pola regular expression pertama yang cocok dengan string input
import re

txt = "Ronaldo dari Portugal"
x = re.search("Portugal", txt)
print(x.group())

Portugal

In [3]:
import re

txt = "Ronaldo dari portugal"
x = re.search("Messi", txt)
print(x)

None

### **re.match()**
mirip sama re.search() cuman bedanya re.match() ngecocokin yang awal

In [4]:
# match (untuk mencari string yang berawalan kata tertentu)

import re

text = "Halo, nama saya Edward."

patterns = ["nama", "Edward", "Halo"]

for pattern in patterns:
    match = re.match(pattern, text)
    if match:
        print(f"Pola ditemukan di awal string. >>> {match.group()}")
    else:
        print(f"Pola tidak ditemukan di awal string. >>> {match}")

Pola tidak ditemukan di awal string. >>> None
Pola tidak ditemukan di awal string. >>> None
Pola ditemukan di awal string. >>> Halo

### **re.findall**
bakal nyari semua kecocokan dari pola regex

In [5]:
# findall (untuk menemukan semua kecocokan dari pola regular expression dalam sebuah string input)

import re

text = "nomor telepon steve adalah 081554469780, sedangkan jobs adalah 087465537920."
# pattern = r'\d{12}'
pattern = r'\d{12,13}'
matches = re.findall(pattern, text)

print(matches)

['081554469780', '087465537920']

In [6]:
# contoh lain dari findall (menemukan seluruh dokumen yang mengandung kata tertentu)

import re

text = "Halo, nama saya John. Saya adalah mantan pegulat WWE."

pattern = ".*John.*"

matches = re.findall(pattern, text)

for match in matches:
    matches = re.findall(pattern, text)
    if match:
        print(match)
    else:
        print("kata tidak ditemukan")

Halo, nama saya John. Saya adalah mantan pegulat WWE.

In [7]:
# mengganti sebuah kata menggunakan regex

import re

text = "Halo, nama saya Rey. Saya adalah Petarunk MMA."
text

'Halo, nama saya Rey. Saya adalah Petarunk MMA.'

In [8]:
pattern = "Rey"
replacement = "Don"

new_text = re.sub("Rey", "Julian", text)

print(new_text)

Halo, nama saya Julian. Saya adalah Petarunk MMA.

In [9]:
# pip install faker

In [10]:
from faker import Faker

fake = Faker()

jumlah_data = 10

dummy_data = []

for _ in range(jumlah_data):
    nama = fake.name()
    nomor_telepon = fake.phone_number()
    alamat = fake.address()
    email = fake.email()
    
    data = f"Nama: {nama}\nNomor Telepon: {nomor_telepon}\nAlamat: {alamat}\nEmail: {email}\n"
    dummy_data.append(data)

file_name = "dummy_data.txt"
with open(file_name, "w") as file:
    for data in dummy_data:
        file.write(data + "\n")

print(f"{jumlah_data} data dummy telah disimpan dalam {file_name}.")

10 data dummy telah disimpan dalam dummy_data.txt.

In [11]:
import re

pattern = r"[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z.]+"

# [a-zA-Z0-9_.+-] untuk mencari awal (username sebelum email) termasuk semua huruf, tanda _.+ dan -
# + setelahnya menunjukkan bahwa harus ada setidaknya 1 kecocokan string dengan ekspresi regex sebelumnya
# @ adalah simbol yang digunakan untuk menghubungkan username dengan domain name.
# [a-zA-Z0-9-] adalah nama alamat domain setelah tanda @
# \. menandakan bahwa harus ada titik setelah ekspresi sebelumnya
# [a-zA-Z]+ menandakan nama domain pada alamat email ex: net, biz, com

with open("dummy_data.txt", "r") as f:
    data = f.readlines()

emails = []

for line in data:
    match = re.search(pattern, line)
    if match:
        emails.append(match.group())
print(emails)

['justinowens@example.com', 'rosecarter@example.net', 'dalexander@example.net', 'colleenfitzgerald@example.org', 'mistyrobles@example.net', 'daltonparker@example.net', 'jimmykim@example.net', 'francisjames@example.net', 'brian79@example.com', 'mark75@example.org']

In [24]:
with open("dummy_data.txt", "r") as f:
    teks = f.readlines()
    text = "".join(teks)

pola_nomor_telepon = r'Nomor Telepon:\s+([\d+()-]+)'
nomor_telepon = re.findall(pola_nomor_telepon, text)

nums = []
# Mengambil nomor telepon yang cocok
for num in nomor_telepon:
    # Substituting multiple spaces with single space
    num = re.sub(r'\s+', '', num, flags=re.I)
    
    # Menghilangkan karakter spesial
    num = re.sub(r'\W', '', num)
    nums.append(num)
    
# Output data Preprocessing
nums

['7675306195',
 '15873125387',
 '14924632059',
 '2065519133',
 '3648473226',
 '4696554648',
 '0012458317271',
 '2773169896',
 '7652383523',
 '0015679608069']

In [33]:
import pandas as pd
pd.DataFrame({"email": emails, "nomor_telepon": nums})

                           email  nomor_telepon
0        justinowens@example.com     7675306195
1         rosecarter@example.net    15873125387
2         dalexander@example.net    14924632059
3  colleenfitzgerald@example.org     2065519133
4        mistyrobles@example.net     3648473226
5       daltonparker@example.net     4696554648
6           jimmykim@example.net  0012458317271
7       francisjames@example.net     2773169896
8            brian79@example.com     7652383523
9             mark75@example.org  0015679608069